<div class="add-panel">
  <p-button
    styleClass="w-full md:w-auto"
    label="Add Pet"
    (onClick)="openDialog()">
  </p-button>
</div>

<!-- two-way bind parent <-> child -->
<!-- Pass state and handle save -->
<pet-add-component
  [(display)]="showAddDialog"
  (savePet)="saveNewPet($event)">
</pet-add-component>


@if ((status$ | async) === 'loading') {
  <div class="p-mb-3">
    Loading...
  </div>
}
@else if ((status$ | async) === 'error') {
  <div class="p-mb-3 p-error">
    Error!
  </div>
}
@else if (((status$ | async) === 'success') && ((pets$ | async)?.length === 0)) {
  <div class="p-mb-3">
    No pets found.
  </div>
}

<p-dataView #dv [value]="(pets$ | async ) || []" [rows]="3" [paginator]="true">
  <ng-template #list let-items>
    <div class="items-panel">
      @for (pet of items; track pet.id){
        <div class="item-panel">
          <div class="flex">
            <div class="thumb">
              <img [src]="pet.imgURL" alt="{{ pet.name }}" />
            </div>
            <div class="ml-2">
              <h1 class="text-clamp">{{ pet.name }} - {{pet.breed}}</h1>
              <p><i class="pi pi-map-marker"></i> {{pet.location}}</p>
              <p><i class="pi pi-id-card"></i> {{pet.age}}</p>
            </div>
          </div>
          <div class="buttons-panel">
            <p-button styleClass="w-full md:w-auto">Details</p-button>
          </div>
        </div>
      }
    </div>
  </ng-template>
</p-dataView>
