<app-nav-bar></app-nav-bar>
<!--<div class="add-panel">-->
<!--  <p-button-->
<!--    styleClass="w-full md:w-auto"-->
<!--    label="Add Pet"-->
<!--    (onClick)="openDialog()">-->
<!--  </p-button>-->
<!--</div>-->

<!--&lt;!&ndash; two-way bind parent <-> child &ndash;&gt;-->
<!--&lt;!&ndash; Pass state and handle save &ndash;&gt;-->
<!--<pet-add-component-->
<!--  [(display)]="showAddDialog"-->
<!--  (savePet)="saveNewPet($event)">-->
<!--</pet-add-component>-->


@if ((status$ | async) === 'loading') {
  <div class="flex justify-content-center p-mb-3">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
} @else if ((status$ | async) === 'error') {
  <div class="flex justify-content-center p-mb-3">
    <i class="pi pi-exclamation-triangle" style="font-size: 2rem"> Error!</i>
  </div>
} @else if (((status$ | async) === 'success') && ((pets$ | async)?.length === 0)) {
  <div class="flex justify-content-center p-mb-3">
    <i class="pi pi-search" style="font-size: 2rem"> No pets found!</i>
  </div>
}

<form class="filter-bar search-bar-right" [formGroup]="filterForm">

  <div class="relative">
    <input
      formControlName="species"
      placeholder="Search by species"
      class="search-input"/>

    @if (((filteredSpecies$ | async)?.length)) {
      <ul class="suggestions-list">
        @for (suggestion of (filteredSpecies$ | async) || []; track suggestion) {
          <li (click)="selectSuggestion('species', suggestion)">
            {{ suggestion }}
          </li>
        }
      </ul>
    }
  </div>

  <div class="relative">
    <input
      formControlName="breed"
      placeholder="Search by breed"
      class="search-input"/>

    @if (((filteredBreeds$ | async)?.length)) {
      <ul class="suggestions-list">
        @for (suggestion of (filteredBreeds$ | async) || []; track suggestion) {
          <li (click)="selectSuggestion('breed', suggestion)">
            {{ suggestion }}
          </li>
        }
      </ul>
    }
  </div>

  <button pButton type="button" class="reset-search-button" (click)="onReset($event)"> Reset</button>
</form>

<p-dataView #dv [value]="(pets$ | async ) || []" [rows]="10" [paginator]="true">
  <ng-template #list let-items>
    <div class="items-panel">
      @for (pet of items; track pet.id) {
        <div class="item-panel">
          <div class="flex">
            <div class="thumb">
              <img [src]="pet.imgURL" alt="{{ pet.name }}"/>
            </div>
            <div class="ml-2">
              <h1 class="text-clamp">{{ pet.name }} - {{ pet.breed }}</h1>
              @if(pet.location){
                <p><i class="pi pi-map-marker"></i> {{pet.location.state}}, {{ pet.location.city }}</p>
              }
              <p><i class="pi pi-id-card"></i> {{ pet.age }}</p>
            </div>
          </div>
          <div class="buttons-panel">
            <p-button styleClass="w-full md:w-auto" [routerLink]="['/pet-profile', pet.id]">Details</p-button>
          </div>
        </div>
      }
    </div>
  </ng-template>
</p-dataView>
