<app-nav-bar></app-nav-bar>
<div class="pet-profile">
  @if ((status$ | async) === 'loading') {
    <p>Loading...</p>
  } @else {
    @if (error$ | async) {
      <p>Pet not found.</p>
    } @else {
      @if (pet$ | async; as pet) {
        <div class="pet-container">

          <div class="pet-image">
            <img [src]="pet.imgURL" alt="{{ pet.name }}">
          </div>

          <div class="pet-info">
            <h2>{{ pet.name }}</h2>
            <p class="species">{{ pet.species }} - {{ pet.breed }}</p>
            <p class="pet-detail"><strong>Age:</strong> {{ pet.age }}</p>
            <p class="pet-detail"><strong>Location:</strong> {{ pet.location }}</p>

            <p class="pet-detail status-tag">
              <strong>Status:</strong>
              <span [ngClass]="pet.status === 'ADOPTED' ? 'status-adopted' : 'status-pending'">
                {{ pet.status }}
              </span>
            </p>
            <p class="description">{{ pet.description }}</p>

            <div class="actions">
              @if (pet.status === PetStatus.Adopted) {
                <button class="btn adopt adopted" disabled>
                  Already Adopted
                </button>
              } @else if (hasRequestedAdoption) {
                <button class="btn adopt" disabled>
                  Request Pending
                </button>
              } @else {
                <button class="btn adopt"
                        (click)="pet.id && adoptPet(pet.id)">
                  Request Adoption
                </button>
              }
              <button class="btn contact">Contact</button>
            </div>
          </div>
        </div>
      }
    }
  }
</div>
