<app-nav-bar></app-nav-bar>
<div class="pet-profile">
  @if ((status$ | async) === 'loading') {
    <p>Loading...</p>
  } @else {
    @if (error$ | async) {
      <p>Pet not found.</p>
    } @else {
      @if (pet$ | async; as pet) {
        <div class="pet-container">

          <div class="pet-image">
            <img [src]="pet.imgURL" alt="{{ pet.name }}">
          </div>

          <div class="pet-info">
            <h2>{{ pet.name }}</h2>
            <p class="species">{{ pet.species }} - {{ pet.breed }}</p>
            <p class="pet-detail"><strong>Age:</strong> {{ pet.age }}</p>
            @if(pet.location){
              <p class="pet-detail"><strong>Location:</strong> {{pet.location.state}}, {{ pet.location.city }}, {{pet.location.street}}</p>
            }

            <p class="pet-detail status-tag">
              <strong>Status:</strong>
              <span [ngClass]="pet.status === 'ADOPTED' ? 'status-adopted' : 'status-pending'">
                {{ pet.status }}
              </span>
            </p>
            <p class="description">{{ pet.description }}</p>

            <div class="actions">

              <button class="btn adopt"
                      [disabled]="pet.status === 'ADOPTED'"
                      (click)="pet.id && adoptPet(pet.id)">
                {{ pet.status === 'ADOPTED' ? 'Already Adopted' : 'Adopt' }}
              </button>
              <button class="btn contact">Contact</button>
            </div>
          </div>

          <p-button
            [icon]="pet.isUserFavorite ? 'pi pi-star-fill' : 'pi pi-star'"
            styleClass="p-button-text star-btn"
            [pTooltip]="pet.isUserFavorite ? 'Remove from favorites' : 'Add to favorites'"
            tooltipPosition="top"
            tooltipEvent="hover"
            tooltipZIndex="1000"
            showDelay="750"
            (onClick)="toggleFavorite(pet)">
          </p-button>
        </div>
        @if(pet.location && pet.location.latitude && pet.location.longitude)
        {
          <div class="mt-3">
            <google-map
              mapId="map-1"
              height="400px"
              width="750px"
              [center]="{lat: pet.location.latitude, lng: pet.location.longitude}"
              [zoom]="zoom"
              [options]="options"
              (mapMousemove)="move($event)">
              <map-advanced-marker [position]="{lat: pet.location.latitude, lng: pet.location.longitude}" [options]="markerOptions"></map-advanced-marker>
            </google-map>
          </div>
        }
      }
    }
  }
</div>
