.item-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #27272A;
  border-radius: 5px;
  padding: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.profile-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;
}

.profile-photo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #1e1e1e;
  border-radius: 10px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  background: #222;
}

.profile-details-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.profile-details-section p:first-child {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
}

.profile-details-section p {
  font-size: 1rem;
  margin: 0.5rem  0;
  color: #e5e5e5;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .profile-form {
    flex-direction: column;
    gap: 1rem;
  }
  .profile-photo-section {
    width: 100%;
    justify-content: flex-start;
    padding: 0.5rem;
  }
  .profile-photo {
    width: 100px;
    height: 100px;
  }
  .item-panel {
    padding: 1rem;
  }
}
