<div style="margin: 10px; padding: 10px; border-radius: 8px;">
  <apx-chart #chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [yaxis]="chartOptions.yaxis!"
    [xaxis]="chartOptions.xaxis!"
    [fill]="chartOptions.fill!"
    [title]="chartOptions.title!"
    [theme]="chartOptions.theme!"
  ></apx-chart>
  <apx-chart
             [series]="chartOptions2.series!"
             [chart]="chartOptions2.chart!"
             [dataLabels]="chartOptions2.dataLabels!"
             [plotOptions]="chartOptions2.plotOptions!"
             [yaxis]="chartOptions2.yaxis!"
             [xaxis]="chartOptions2.xaxis!"
             [fill]="chartOptions2.fill!"
             [title]="chartOptions2.title!"
             [theme]="chartOptions2.theme!"
             [tooltip]="chartOptions2.tooltip!"
             [grid]="chartOptions2.grid!"
  ></apx-chart>
</div>
