<app-nav-bar></app-nav-bar>
<div class="grid">
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Pets" [style.text-align]="'center'" class="mb-3">
      <div class="pet-card-content">
        <span class="material-icons">pets</span>
        <h2>156</h2>
      </div>
    </p-card>
    </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Breeds" class="mb-3">
      <apx-chart #breedPercentages
        [series]="breedPercentagesData.series!"
        [chart]="breedPercentagesData.chart!"
        [labels]="breedPercentagesData.labels!"
        [responsive]="breedPercentagesData.responsive!"
        [colors]="breedPercentagesData.colors!"
        [legend]="breedPercentagesData.legend!"
        [tooltip]="breedPercentagesData.tooltip!"
        [theme]="breedPercentagesData.theme!"
        [stroke]="breedPercentagesData.stroke!"
      ></apx-chart>
    </p-card>
    </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Species">
      <apx-chart #speciesPercentages
        [series]="speciesPercentagesData.series!"
        [chart]="speciesPercentagesData.chart!"
        [labels]="speciesPercentagesData.labels!"
        [responsive]="speciesPercentagesData.responsive!"
        [colors]="speciesPercentagesData.colors!"
        [legend]="speciesPercentagesData.legend!"
        [tooltip]="speciesPercentagesData.tooltip!"
        [theme]="speciesPercentagesData.theme!"
        [stroke]="speciesPercentagesData.stroke!"
      ></apx-chart>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Most adopted breeds">
        <apx-chart #mostAdoptedBreed
                   [series]="breedMAdoptedData.series!"
                   [chart]="breedMAdoptedData.chart!"
                   [dataLabels]="breedMAdoptedData.dataLabels!"
                   [plotOptions]="breedMAdoptedData.plotOptions!"
                   [yaxis]="breedMAdoptedData.yaxis!"
                   [xaxis]="breedMAdoptedData.xaxis!"
                   [fill]="breedMAdoptedData.fill!"
                   [title]="breedMAdoptedData.title!"
                   [theme]="breedMAdoptedData.theme!"
                   [tooltip]="breedMAdoptedData.tooltip!"
                   [grid]="breedMAdoptedData.grid!"
        ></apx-chart>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Most adopted species">
        <apx-chart #mostAdoptedSpecies
                   [series]="speciesMAdoptedData.series!"
                   [chart]="breedMAdoptedData.chart!"
                   [dataLabels]="breedMAdoptedData.dataLabels!"
                   [plotOptions]="breedMAdoptedData.plotOptions!"
                   [yaxis]="breedMAdoptedData.yaxis!"
                   [xaxis]="breedMAdoptedData.xaxis!"
                   [fill]="breedMAdoptedData.fill!"
                   [title]="breedMAdoptedData.title!"
                   [theme]="breedMAdoptedData.theme!"
                   [tooltip]="breedMAdoptedData.tooltip!"
                   [grid]="breedMAdoptedData.grid!"
        ></apx-chart>
    </p-card>
  </div>
</div>
